body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}
.menu{
    width: 150px;
    background-color: #45015d;
    color: white;
    font-weight: bold;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0 15px 15px 0px;
    padding: 10px 20px;
}
.menu a{
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 8px 19px;
    width: 100%;
    box-sizing: border-box;
}
.menu a:hover{
    background-color: white;
    color: black;
}
.main h1{
    font-size: 64px;
    font-weight: 400;
}
.main{
    margin-left: 360px;
    margin-top: 80px;
    margin-right: 40px;
}
.images img{
    width: 45%;
    border-radius: 15px;
    margin: 5px;
    opacity: 0.7;
}
.images img:hover{
    opacity: 1;
}
hr{
    border: 5px #45015d solid;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
}
h2{
    font-size: 50px;
    font-weight: 500;
    color: #45015d;
    margin: 64px 0 20px;
}
.member{
    width: 30%;
    display: inline-block;
    margin: 0 6px;
}
.member img{
    width: 100%;
    margin-bottom: 1px;
    border-radius: 14px;
    filter: grayscale(30%);
}
.description{
    background-color: rgb(238, 238, 238);
    border-radius: 9px;
    padding: 9px 16px;
}
.position{
    color: gray;
}
.description h4{
    font-size: 20px;
}
.tariff{
    display: inline-block;
    width: 45%;
    text-align: center;
    margin: 5px;
}
.tariff ul{
    list-style: none;
    background-color: #f1f1f1;
    padding: 0;
    border-radius: 10px;
}
.tariff li{
    padding: 16px 0;
    border-bottom: rgb(160, 160, 160) solid 1px;
    border-radius: 10px;
}
.tariff .tariffname1{
    padding: 32px 0;
    width: 100%;
    background-color: #45015d;
    color: white;
    border-radius: 10px;
    font-size: 25px;
}
.tariff .tariffname{
    padding: 32px 0;
    width: 100%;
    background-color: rgb(228, 66, 66);
    color: white;
    border-radius: 10px;
    font-size: 25px;
}
.price{
    font-size: 25px;
}
.period{
    opacity: 0.7;
}
.tariff a{
    padding: 12px 20px;
    text-decoration: none;
    color: #45015d;
    background-color: white;
    border-radius: 17px;
}
.tariff li:last-child{
    padding: 19px;
}
.tariff .tfn2{
    background-color: rgb(228, 66, 66);
    color: white;
}
.tariff a:hover{
    background-color: #45015d;
    color: white;
}
#contact input{
    display: block;
    width: 100%;
    border: #dadada solid 1.7px;
    padding: 7px;
    box-sizing: border-box;
}
#contact button{
    background-color: #45015d;
    width: 100%;
    padding: 11px;
    color: white;
    border: #45015d;
    box-sizing: border-box;
    margin: 14px 0;
    border-radius: 10px;
}
#contact button:hover{
    background-color: rgb(228, 66, 66);;
    cursor: pointer;
}
#footer {
    background-color: #f1f1f1;
    width: 100%;
    text-align: right;
}
#footer p{
    padding: 32px;
    margin: 64px 0 0 0;
}
#footer a{
    color: black;
}